@import './_variables';
@import './_reset';
@import './header';
@import './contents';

* {
  box-sizing: border-box;
}

/* 
.modal_overlay
  ㄴ.modal_content_container
    ㄴ.modal_header
    ㄴ.modal_content
    ㄴ.modal_sidebar
*/

/* 
  ## ? 폰트가 전체적으로 위로 올라가서 이걸 해결해주려면 font 관련 내용을 찾아봐야겠다.s
*/
$bg: #cd5a91;
$bg1: #DA83AB;
$bg2: #AF4C7B;

$cardBg: #c9c9c9;
$cardBg1: #dfdfdf; // moadal bg
$cardBg2: #8c8c8c;
$cardBg3: #484848;

$modalBg: #F4F5F7;

$buttonBg: #e7eaee;
$buttonHoverBg: #cfd2d8;
$bubtonBlueBg: #147dba;
$buttonBlueHoverBg: #046AA6;



$modalProfileBg: #dfe1e6;
$modalProfileBg: #dfe1e6;

$modal_bg: #322e30;
$modal_overlay_bg: #322e30ab;

$font: rgb(238, 238, 238);
$font1: #172b4d;
$font2: #5e6c84;

// dropdown Layer
.dropdownLayer {
  display: flex;
  flex-direction: column;
  --var--height: 36px;
  border: 1px #cfd2d8 solid;
  // box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
  // background-color: #046AA6;

  .dl_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 0 5px 0;
    margin-bottom: 15px;

    .dl_title {
      position: relative;
      top: 3px;
      display: block;
      height: var(--var--height);
      line-height: var(--var--height);
      text-align: center;
      width: 100%;
    }
  }

  .dl_search_container {
    margin-bottom: 20px;

    &>input {
      border: 2px solid #cfd2d8;
      background-color: 2px solid #dbdfe6;
      border-radius: 3px;
      padding: 6px;
      width: 100%;
      height: var(--var--height);

      &:focus {
        border: 1px solid gray
      }
    }
  }

  .dl_labels_container {
    box-sizing: border-box;

    .dl_label_title {
      margin-bottom: 10px;
    }

    .dl_label_item_container {
      box-sizing: border-box;
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      height: var(--var--height);

      .dl_label_item {
        display: block;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        line-height: var(--var--height);

      }


      &>i {
        // line-height: var(--var--height);
        padding: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .dl_label_item_container:nth-child(2) {
      .dl_label_item {
        background-color: #60bd4e;
      }
    }

    .dl_label_item_container:nth-child(3) {
      .dl_label_item {
        background-color: #F2D600;
      }
    }

    .dl_label_item_container:nth-child(4) {
      .dl_label_item {
        background-color: #ff9f19;
      }
    }

    .dl_label_item_container:nth-child(5) {
      .dl_label_item {
        background-color: #EB5B46;
      }
    }

    .dl_label_item_container:nth-child(6) {
      .dl_label_item {
        background-color: #C278E0;
      }
    }

  }

  .dl_add_label_container {
    #labelInput {
      border: 2px solid #cfd2d8;
      background-color: 2px solid #dbdfe6;
      border-radius: 3px;
      padding: 6px;
      width: 100%;
      height: var(--var--height);

      &:focus {
        border: 1px solid gray
      }
    }

    // .dl_create_new_label {
    //   border: 1px beige solid;
    //   background-color: #cfd2d8;
    //   width: 100%;
    //   height: var(--var--height);

    //   text-align: center;
    //   // vertical-align: 50%;
    //   line-height: var(--var--height);

    //   &>label {}

    // }
  }


}


/* 
  # 공통 styleing
*/

.card_link {
  cursor: pointer;
  text-decoration: underline;
}

.profile_container {
  /* 
    ## flex item이 width가 2rem 만큼 적용안돼서 추가 
    ## ? 왜그런지 확인하기
      * [stackoverflow](https://stackoverflow.com/a/21413841/3937115)
      
      * 해결방법1
        - flow-grow, flex-shrink에 대해서 확인하기 
      ```
        flex-grow: 0;
        flex-shrink: 0;
      ```
      * 해결방법2
        - width대신 min-width사용하기
        - ? widht, min-width, max-width 차이 확인하기

  */
  // flex-grow: 0;
  // flex-shrink: 0;

  // content: "";
  // box-sizing: initial;
  // display: inline-block;
  min-width: 2rem;
  height: 2rem;

  .profile_name {
    /* 
      ## ? 문자가 원 중앙이 맞지 않음 
        * trello 참고해보자.
    */
    display: inline-block;
    border-radius: 50%;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $bg3;
    font-weight: 600;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    // justify-content: center;

    // margin-top: auto;
    // margin-bottom: auto;
    &_text {
      position: relative;
      top: 3px;
    }
  }
}

.modal_box {
  background-color: $buttonBg;
  padding: 10px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;

  // &:not(:last-child) {
  //   margin-bottom: 10px;
  // }

  &:hover {
    background-color: $buttonHoverBg;
  }
}

.modal_box_blue {
  background-color: #147dba;
  color: $font;

  &:hover {
    background-color: #046AA6;
  }
}

/* 
  # modal 영역 styling
*/
.modal_open {
  display: block;
}

.modal_overlay {
  color: #000000;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $modal_overlay_bg;
  // opacity: 0.3;

  z-index: 1000;

  /*
    moadal 임시
  */
  // display: flex;
// justify-content: center;
// align-items: center;

  // .clearfix {
  //   content: " ";
  //   clear: both;
  //   display: table;

  //   &::after {
  //     content: " ";
  //     clear: both;
  //     display: table;
  //   }
  // }

  .modal_content_container {
    // overflow: hidden;
    // clear: both;

    // display: block;
    display: table;
    background-color: $modalBg;
    width: 768px;

    max-height: 80%;
    padding: 10px;
    border-radius: 3px;
    // overflow: hidden;


    .modal_header {
      box-sizing: border-box;
      // height: 20%;
      width: 100%;
      display: flex;


      &_icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 32px;
        height: 32px;
        padding: 5px;
      }


      &_title_container {
        padding: 5px;
        width: 100%;

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        .modal_header_title {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
        }

        .modal_header_card_Type {
          margin-top: 10px;
          color: $font2;
        }
      }
    }


    .modal_content {
      /* 
        ## [point][codepen] float 사용시 좌우 길이 맞는 좋은 방법은 뭘ㄲㅏ?
        * 좌우 "width"를 퍼센트 합이 100%로 맞춰주고 
        * "box-sizing: border-box"로 해줘야 float:right아 아래 방향으로 넘어 가지 않는다.
      */
      /* 
        ## float 적용 el, hieght 100%일때 parent el에 100% 되게 하는 방법 
        [height - w3org](https://www.w3.org/TR/CSS2/visudet.html#the-height-property)
      */
      float: left;
      width: 70%;
      height: 80%;

      &_description {

        &_title {
          display: flex;

          &_icon {
            padding: 10px;
          }

          &_container {
            display: flex;

            & span {
              font-weight: 800;
              padding: 10px;
            }

            & div {
              background-color: $buttonBg;
              padding: 10px;
              border-radius: 3px;
              font-weight: 400;

              &:hover {
                background-color: $buttonHoverBg;
              }
            }

            &.modal_box {}
          }
        }

        &_main_container {
          // &>* {//   padding: 10px 20px 20px 45px;
          // }
          --var-left-margin: 45px;

          .modal_content_description_main_display {
            // background-color: skyblue;
            position: relative;
            left: var(--var-left-margin);
            width: calc(100% - var(--var-left-margin));
            padding: 10px 20px 20px 0px;
            cursor: pointer;
            // float: right;


            .btn_add_scription {
              padding: 10px 10px 20px;
              // background-color: $cardBg2;
              vertical-align: text-top;
              border-radius: 3px;
              font-weight: 400;
            }
          }

          .description_edit {
            position: relative;
            left: var(--var-left-margin);
            width: calc(100% - var(--var-left-margin));

            &>textarea {
              width: 100%;
              height: 100%;
              padding: 10px;
              resize: none;
              border: 1px $cardBg1 solid;
              box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
              font-size: 1rem;
              letter-spacing: normal;
            }
          }
        }
      }

      .modal_content_activity {
        box-sizing: border-box;
        // border: 2px black solid;
        width: 100%;

        .modal_content_activity_title_container {
          display: flex;


          .modal_content_activity_title_icon {
            padding: 10px;
          }

          .modal_content_activity_title {
            width: 100%;
            display: flex;
            justify-content: space-between;

            & span {
              font-weight: 800;
              padding: 10px;
            }

            & div {
              background-color: $buttonBg;
              padding: 10px;
              border-radius: 3px;
              font-weight: 400;

              &:hover {
                background-color: $buttonHoverBg;
              }
            }

          }
        }

        .modal_content_activity_main_container {
          .modal_content_activity_main {
            display: flex;
            padding-top: 10px;

            .profile_name {
              background-color: $modalProfileBg;
            }

            .modal_content_activity_textArea_container {
              // align-items: stretch;
              // flex-grow: 0;
              // flex-shrink: 0;

              width: 100%;
              height: 100%;
              padding-left: 10px;

              &>* {
                // margin-left: 10px;
              }

              &>textarea {
                width: 100%;
                height: 100%;
                padding: 10px;
                resize: none;
                border: 1px $cardBg1 solid;
                box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
              }

              .modal_content_activity_textArea_option {
                display: flex;
                // display: none;
                justify-content: space-between;
                margin-top: 10px;

                &>* {
                  // padding: 10px;
                  //working
                }

                .save_container {
                  height: 38px;
                  display: flex;
                  align-items: center;


                  .modal_box {}

                  &>span {
                    /* 
                      ## 영문 중앙으로오게 하는 좋은 방법 찾아보기!
                    */
                    position: relative;
                    top: 3px;
                  }
                }


                .option_container {
                  display: flex;

                  .modal_box {
                    background-color: inherit;
                    width: 38px;
                    height: 38px;
                    text-align: center;
                    // display: flex;
                    // justify-content: center;

                    &:hover {
                      background-color: $buttonHoverBg;
                    }

                    &:not(:last-child) {

                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }

        .modal_content_activity_reply_container {

          .reply_container {
            display: flex;
            margin-top: 10px;

            &:first-child {
              margin-top: 25px;
            }

            .profile_name {
              background-color: $modalProfileBg;
            }


            .reply_content_container {
              padding-left: 10px;
              display: flex;
              flex-direction: column;

              .reply_content_title {
                // display: block;

                &_writer {
                  font-weight: 800;
                }

                &_date {
                  vertical-align: -10%;
                  // vertical-align: -10%;
                  font-size: 0.8rem;
                  font-weight: 500;
                  color: rgba(0, 0, 0, 0.6);

                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }

              .reply_content {
                // display: block;
                margin-top: 7px;

                &_box {
                  display: inline-block;
                  padding: 10px;
                  background-color: #fff;
                  border: 1.5px $cardBg1 solid;
                  border-radius: 3px;
                }

                &_edit {}
              }

              .reply_content_reply_modify_container {

                color: $font2;


                &>* {
                  margin: 0px;
                  display: inline-block;

                  &:not(:last-child) {
                    padding: 10px 0 10px 10px;

                    // margin-right: 5px;
                    &:after {
                      /* 
                      ## text-decoration 적용위해서 display: inline-block 사용이유 
                        * [text-decoration 적용위해서 display: inline-block 사용이유 ](https://stackoverflow.com/questions/1238881/text-decoration-and-the-after-pseudo-element-revisited)
                    */
                      display: inline-block;
                      margin-left: 5px;
                      content: "-";
                      text-decoration: none;
                    }
                  }
                }

                .reply_edit {
                  &:after {}
                }
              }
            }
          }
        }
      }
    }


    .modal_sidebar {
      box-sizing: border-box;
      float: right;
      width: 30%;
      height: 80%;
      box-sizing: border-box;

      &>* {
        padding: 0 5px 5px 20px;
      }

      .addCard,
      .action {
        &:active {
          background-color: #b0e2ff;
          color: #50bfff
        }

        &:hover {}
      }

      .modal_box {
        // background-color: $buttonBg;
        // padding: 10px;
        // border-radius: 3px;
        // font-weight: 400;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        // &:hover {//   background-color: $buttonHoverBg;
        // }
      }

      .addCard_container {
        margin-bottom: 20px;

        .addCard_title {
          margin-bottom: 10px;
          color: $font2;
          font-weight: 600;
        }
      }

      .action_container {
        .action_title {
          margin-bottom: 10px;
          color: $font2;
          font-weight: 600;
        }
      }
    }
  }
}

/* 
  # content 영역 styling 
*/

.content_container {
  padding: 4px 8px 8px 8px;
  // height: 100vh;

  .content_container_items {
    display: flex;
  }

  .card_item {

    display: block;
    background-color: $cardBg1;
    // background-color: red;
    width: 256px;
    border-radius: 3px;
    padding: 7px;
    margin: 7px;

    /*  
      ## [point] relative로 정렬하기 글자가 span tag 안에 중앙으로 안와서 설정함
        ## ? 어떤 영향인지 확인해야함(글꼴?)
    */
    &_text {
      position: relative;
      top: 1px;
    }
  }

  .content_container_item {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    background-color: $cardBg;
    color: $font1;
    border-radius: 3px;
    height: 100%;

    .card_container {

      .card_title {
        display: flex;
        justify-content: space-between;
        padding: 13px 10px 0 15px;
        font-weight: 800;

        &:after {
          // content: "\B7\B7\B7";  // * \B7: middle dot
          cursor: pointer;

          &:hover {
            background-color: $cardBg2;
          }
        }
      }
    }

    .card_contents_container {
      &>* {
        // background-color: $cardBg1;
        // width: 256px;
        // border-radius: 3px;
        // padding: 7px;
        // margin: 7px;
      }

      .card_item {

        // background-color: $cardBg1;
        // width: 256px;
        // border-radius: 3px;
        // padding: 7px;
        // margin: 7px;
        /* 
          ## Beautiful CSS box-shadow example 
            - [Beautiful CSS box-shadow example](https://getcssscan.com/css-box-shadow-examples)
        */
        box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.55px 2.6px;

        display: flex;
        justify-content: space-between;


        &:not(:last-child) {
          &:hover {
            background-color: $cardBg2;
            cursor: pointer;

            &:after {
              content: "";
              width: 24px;
              background: url(../images/pencil.svg);
              /* ## [point] rem의 활용 1
                * 문자와 같이 사용하는 icon에 size를 같게 하기위해서 1rem을 사용하면 같은 크기를 사용할 수 있다. */
              // background-color: $cardBg3;
              background-size: 1rem 1rem;
              background-repeat: no-repeat;
            }
          }
        }

        &:last-child {
          // box-shadow: none;
          display: block;
          color: $font2;
          background-color: $cardBg;
          box-shadow: none;

          &:before {
            /* 
              ## ? css entities 
            */
            // display: inline-block;
            content: "\002B";
            background-color: inherit;
            margin-right: 5px;
            // width: inherit;
            // padding-right: 10px;
          }
        }
      }

    }

    .content_addListBtn_title {
      display: block;
      color: $font2;

      &:before {
        /* 
          ## ? css entities 
        */
        // display: inline-block;
        content: "\002B";
        background-color: inherit;
        width: inherit;
        // padding-right: 10px;
      }
    }


    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  .content_addListBtn {
    padding: 10px;
    background-color: $bg1;
    // background-color: $cardBg;
    max-width: 264px;
    width: 100%;
    height: 100%;
    border-radius: 3px;

    /* 
      ## ? 반복되는 selector mixin 사용해서 재활용 해보기.
    */
    .content_addListBtn_title {
      color: $font;

      &:before {
        /* 
          ## ? css entities 
        */
        // display: inline-block;
        content: "\002B";
        // padding-right: 10px;
      }
    }
  }

}


/* 
  ## pencil 
    * icon 사용하지 않고 "Pseudo-class"를 사용해서 icon 처럼 만들 수 있는것 사용
    * dom을 붙여야 하므로 mouseover 했을때만 보이게 하려면 display: none을 사용해야 한다.

*/


.pencil {
  width: 10px;
  height: 50px;
  // width: attr();
  // height: attr();
  background: dimgray;
  position: relative;
  transform: rotate(30deg);

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: dimgray;
    top: -13px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: dimgray;
    left: 1px;
    bottom: -4px;
    transform: rotate(45deg);
  }
}


/* 
  ## activity animation 
    * activity textarea 클릭시 textArea_option 나오도록 animation
  ## [!] codepen 정리하기
*/

/* 
  ## Use pseudo-selectors to trigger CSS transitions
  [Use pseudo-selectors to trigger CSS transitions
](https://openclassrooms.com/en/courses/5625816-create-modern-css-animations/5792421-use-pseudo-selectors-to-trigger-css-transitions)
*/
textarea:focus+.modal_content_activity_textArea_option {
  height: 40px;
  overflow: hidden;
}

/* 
  ## ? display: table-column에 대해서 확인 하기
*/
.modal_content_activity_textArea_option {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

textarea:focus,
input:focus {
  outline: 0;
}