@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #fff;
}

.container {
  background-color: #cd5a91;
  width: 100vw;
  height: 100vh;
}

.container .header_container {
  height: 40px;
  padding: 4px 8px 4px 8px;
  background-color: #AF4C7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header_container_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header_container_left .header_container_left_items {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header_container_left .header_container_left_items .header_container_left_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 2rem;
  max-height: 2rem;
  border: 0;
  background-color: #DA83AB;
  border-radius: 3px;
  padding: 5px;
}

.container .header_container_left_item:not(:last-child) {
  margin-right: 5px;
}

.container .header_container_center {
  position: relative;
  padding: 10px;
  width: 50px;
}

.container .header_container_center a.hcc_home_container .hcc_home {
  height: 24px;
  width: 24px;
}

.container .header_container_center a.hcc_home_container .hcc_home::before {
  opacity: 0.5;
  content: '';
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .header_container_right {
  width: 40px;
}

.container .header_container_right_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.content_header_container {
  padding: 8px 8px 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_header_container .content_header_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
  /* 
      ## ? header_container_left_item 아이콘과 높이를 같게 하려면 어떻게 해야할까?
    */
  min-height: 2rem;
  height: 34px;
}

.content_header_container .text_label {
  position: relative;
  top: 2px;
}

.content_header_container .content_header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_header_container .content_header_left > * {
  background-color: #DA83AB;
}

.content_header_container .content_header_left_item {
  /* 
        ## ? vertical-align: center;
        글자 중앙 정렬 
      */
  border-radius: 3px;
}

.content_header_container .content_header_left_item:not(:last-child) {
  /* 
            ## ? last 빼고 margin-right 주기 
              * 하위 selector 중이 아니라 
              * 선택된 selector 중에서 last-child 적용됨.
          */
  margin-right: 5px;
}

.content_header_container .content_header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_header_container .content_header_right_item {
  background-color: #DA83AB;
  border-radius: 3px;
}

.content_header_container .content_header_right_item > span {
  padding: 0 8px;
}

.content_header_container .content_header_right_item > span::before {
  background: red;
  /* ## ? before 포함하기 */
  display: inline-block;
  content: "\B7\B7\B7";
  background-color: #DA83AB;
  border-radius: 3px;
  margin-right: 6px;
}

/* 
  ## ? variables 설정하기
*/
/* 
  ## ? index.css watch 컴파일 될때만 변경된다.
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 
.modal_overlay
  ㄴ.modal_content_container
    ㄴ.modal_header
    ㄴ.modal_content
    ㄴ.modal_sidebar
*/
/* 
  ## ? 폰트가 전체적으로 위로 올라가서 이걸 해결해주려면 font 관련 내용을 찾아봐야겠다.s
*/
/* 
  # 공통 styleing
*/
.card_link {
  cursor: pointer;
  text-decoration: underline;
}

.profile_container {
  /* 
    ## flex item이 width가 2rem 만큼 적용안돼서 추가 
    ## ? 왜그런지 확인하기
      * [stackoverflow](https://stackoverflow.com/a/21413841/3937115)
      
      * 해결방법1
        - flow-grow, flex-shrink에 대해서 확인하기 
      ```
        flex-grow: 0;
        flex-shrink: 0;
      ```
      * 해결방법2
        - width대신 min-width사용하기
        - ? widht, min-width, max-width 차이 확인하기

  */
  min-width: 2rem;
  height: 2rem;
}

.profile_container .profile_name {
  /* 
      ## ? 문자가 원 중앙이 맞지 않음 
        * trello 참고해보자.
    */
  display: inline-block;
  border-radius: 50%;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #DEE1E5;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_container .profile_name_text {
  position: relative;
  top: 3px;
}

.modal_box {
  background-color: #e7eaee;
  padding: 10px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
}

.modal_box:hover {
  background-color: #cfd2d8;
}

.modal_box_blue {
  background-color: #147dba;
  color: #eeeeee;
}

.modal_box_blue:hover {
  background-color: #046AA6;
}

/* 
  # modal 영역 styling
*/
.modal_open {
  display: block;
}

.modal_overlay {
  color: #000000;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #322e30ab;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_overlay .modal_content_container {
  display: table;
  background-color: #F4F5F7;
  width: 768px;
  max-height: 80%;
  padding: 10px;
  border-radius: 3px;
}

.modal_overlay .modal_content_container .modal_header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_overlay .modal_content_container .modal_header_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 32px;
  height: 32px;
  padding: 5px;
}

.modal_overlay .modal_content_container .modal_header_title_container {
  padding: 5px;
  width: 100%;
}

.modal_overlay .modal_content_container .modal_header_title_container .modal_header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.modal_overlay .modal_content_container .modal_header_title_container .modal_header_card_Type {
  margin-top: 10px;
  color: #5e6c84;
}

.modal_overlay .modal_content_container .modal_content {
  /* 
        ## [point][codepen] float 사용시 좌우 길이 맞는 좋은 방법은 뭘ㄲㅏ?
        * 좌우 "width"를 퍼센트 합이 100%로 맞춰주고 
        * "box-sizing: border-box"로 해줘야 float:right아 아래 방향으로 넘어 가지 않는다.
      */
  /* 
        ## float 적용 el, hieght 100%일때 parent el에 100% 되게 하는 방법 
        [height - w3org](https://www.w3.org/TR/CSS2/visudet.html#the-height-property)
      */
  float: left;
  width: 70%;
  height: 80%;
}

.modal_overlay .modal_content_container .modal_content_description_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_overlay .modal_content_container .modal_content_description_title_icon {
  padding: 10px;
}

.modal_overlay .modal_content_container .modal_content_description_title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_overlay .modal_content_container .modal_content_description_title_container span {
  font-weight: 800;
  padding: 10px;
}

.modal_overlay .modal_content_container .modal_content_description_title_container div {
  background-color: #e7eaee;
  padding: 10px;
  border-radius: 3px;
  font-weight: 400;
}

.modal_overlay .modal_content_container .modal_content_description_title_container div:hover {
  background-color: #cfd2d8;
}

.modal_overlay .modal_content_container .modal_content_description_main_container {
  --var-left-margin: 45px;
}

.modal_overlay .modal_content_container .modal_content_description_main_container .modal_content_description_main_display {
  position: relative;
  left: var(--var-left-margin);
  width: calc(100% - var(--var-left-margin));
  padding: 10px 20px 20px 0px;
  cursor: pointer;
}

.modal_overlay .modal_content_container .modal_content_description_main_container .modal_content_description_main_display .btn_add_scription {
  padding: 10px 10px 20px;
  vertical-align: text-top;
  border-radius: 3px;
  font-weight: 400;
}

.modal_overlay .modal_content_container .modal_content_description_main_container .description_edit {
  position: relative;
  left: var(--var-left-margin);
  width: calc(100% - var(--var-left-margin));
}

.modal_overlay .modal_content_container .modal_content_description_main_container .description_edit > textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  border: 1px #dfdfdf solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
  font-size: 1rem;
  letter-spacing: normal;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container .modal_content_activity_title_icon {
  padding: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container .modal_content_activity_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container .modal_content_activity_title span {
  font-weight: 800;
  padding: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container .modal_content_activity_title div {
  background-color: #e7eaee;
  padding: 10px;
  border-radius: 3px;
  font-weight: 400;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_title_container .modal_content_activity_title div:hover {
  background-color: #cfd2d8;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .profile_name {
  background-color: #dfe1e6;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container > textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  border: 1px #dfdfdf solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
          box-shadow: rgba(0, 0, 0, 0.2) 0.3px 0.3px 1px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .save_container {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .save_container > span {
  /* 
                      ## 영문 중앙으로오게 하는 좋은 방법 찾아보기!
                    */
  position: relative;
  top: 3px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .option_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .option_container .modal_box {
  background-color: inherit;
  width: 38px;
  height: 38px;
  text-align: center;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .option_container .modal_box:hover {
  background-color: #cfd2d8;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_main_container .modal_content_activity_main .modal_content_activity_textArea_container .modal_content_activity_textArea_option .option_container .modal_box:not(:last-child) {
  margin-right: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container:first-child {
  margin-top: 25px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .profile_name {
  background-color: #dfe1e6;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_title_writer {
  font-weight: 800;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_title_date {
  vertical-align: -10%;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_title_date:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content {
  margin-top: 7px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_box {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: 1.5px #dfdfdf solid;
  border-radius: 3px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_reply_modify_container {
  color: #5e6c84;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_reply_modify_container > * {
  margin: 0px;
  display: inline-block;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_reply_modify_container > *:not(:last-child) {
  padding: 10px 0 10px 10px;
}

.modal_overlay .modal_content_container .modal_content .modal_content_activity .modal_content_activity_reply_container .reply_container .reply_content_container .reply_content_reply_modify_container > *:not(:last-child):after {
  /* 
                      ## text-decoration 적용위해서 display: inline-block 사용이유 
                        * [text-decoration 적용위해서 display: inline-block 사용이유 ](https://stackoverflow.com/questions/1238881/text-decoration-and-the-after-pseudo-element-revisited)
                    */
  display: inline-block;
  margin-left: 5px;
  content: "-";
  text-decoration: none;
}

.modal_overlay .modal_content_container .modal_sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  width: 30%;
  height: 80%;
  box-sizing: border-box;
}

.modal_overlay .modal_content_container .modal_sidebar > * {
  padding: 0 5px 5px 20px;
}

.modal_overlay .modal_content_container .modal_sidebar .addCard:active,
.modal_overlay .modal_content_container .modal_sidebar .action:active {
  background-color: #b0e2ff;
  color: #50bfff;
}

.modal_overlay .modal_content_container .modal_sidebar .modal_box:not(:last-child) {
  margin-bottom: 10px;
}

.modal_overlay .modal_content_container .modal_sidebar .addCard_container {
  margin-bottom: 20px;
}

.modal_overlay .modal_content_container .modal_sidebar .addCard_container .addCard_title {
  margin-bottom: 10px;
  color: #5e6c84;
  font-weight: 600;
}

.modal_overlay .modal_content_container .modal_sidebar .action_container .action_title {
  margin-bottom: 10px;
  color: #5e6c84;
  font-weight: 600;
}

/* 
  # content 영역 styling 
*/
.content_container {
  padding: 4px 8px 8px 8px;
}

.content_container .content_container_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_container .card_item {
  display: block;
  background-color: #dfdfdf;
  width: 256px;
  border-radius: 3px;
  padding: 7px;
  margin: 7px;
  /*  
      ## [point] relative로 정렬하기 글자가 span tag 안에 중앙으로 안와서 설정함
        ## ? 어떤 영향인지 확인해야함(글꼴?)
    */
}

.content_container .card_item_text {
  position: relative;
  top: 1px;
}

.content_container .content_container_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c9c9c9;
  color: #172b4d;
  border-radius: 3px;
  height: 100%;
}

.content_container .content_container_item .card_container .card_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 10px 0 15px;
  font-weight: 800;
}

.content_container .content_container_item .card_container .card_title:after {
  cursor: pointer;
}

.content_container .content_container_item .card_container .card_title:after:hover {
  background-color: #8c8c8c;
}

.content_container .content_container_item .card_contents_container .card_item {
  /* 
          ## Beautiful CSS box-shadow example 
            - [Beautiful CSS box-shadow example](https://getcssscan.com/css-box-shadow-examples)
        */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.55px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.55px 2.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_container .content_container_item .card_contents_container .card_item:not(:last-child):hover {
  background-color: #8c8c8c;
  cursor: pointer;
}

.content_container .content_container_item .card_contents_container .card_item:not(:last-child):hover:after {
  content: "";
  width: 24px;
  background: url(../images/pencil.svg);
  /* ## [point] rem의 활용 1
                * 문자와 같이 사용하는 icon에 size를 같게 하기위해서 1rem을 사용하면 같은 크기를 사용할 수 있다. */
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.content_container .content_container_item .card_contents_container .card_item:last-child {
  display: block;
  color: #5e6c84;
  background-color: #c9c9c9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content_container .content_container_item .card_contents_container .card_item:last-child:before {
  /* 
              ## ? css entities 
            */
  content: "\002B";
  background-color: inherit;
  margin-right: 5px;
}

.content_container .content_container_item .content_addListBtn_title {
  display: block;
  color: #5e6c84;
}

.content_container .content_container_item .content_addListBtn_title:before {
  /* 
          ## ? css entities 
        */
  content: "\002B";
  background-color: inherit;
  width: inherit;
}

.content_container .content_container_item:not(:last-child) {
  margin-right: 6px;
}

.content_container .content_addListBtn {
  padding: 10px;
  background-color: #DA83AB;
  max-width: 264px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  /* 
      ## ? 반복되는 selector mixin 사용해서 재활용 해보기.
    */
}

.content_container .content_addListBtn .content_addListBtn_title {
  color: #eeeeee;
}

.content_container .content_addListBtn .content_addListBtn_title:before {
  /* 
          ## ? css entities 
        */
  content: "\002B";
}

/* 
  ## pencil 
    * icon 사용하지 않고 "Pseudo-class"를 사용해서 icon 처럼 만들 수 있는것 사용
    * dom을 붙여야 하므로 mouseover 했을때만 보이게 하려면 display: none을 사용해야 한다.

*/
.pencil {
  width: 10px;
  height: 50px;
  background: dimgray;
  position: relative;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.pencil:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: dimgray;
  top: -13px;
}

.pencil:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: dimgray;
  left: 1px;
  bottom: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* 
  ## activity animation 
    * activity textarea 클릭시 textArea_option 나오도록 animation
  ## [!] codepen 정리하기
*/
/* 
  ## Use pseudo-selectors to trigger CSS transitions
  [Use pseudo-selectors to trigger CSS transitions
](https://openclassrooms.com/en/courses/5625816-create-modern-css-animations/5792421-use-pseudo-selectors-to-trigger-css-transitions)
*/
textarea:focus + .modal_content_activity_textArea_option {
  height: 40px;
  overflow: hidden;
}

/* 
  ## ? display: table-column에 대해서 확인 하기
*/
.modal_content_activity_textArea_option {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

textarea:focus,
input:focus {
  outline: 0;
}
